<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LogIn</servlet-name>
  	<display-name>LogIn</display-name>
  	<description></description>
  	<servlet-class>servlets.LogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>servlets.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookImageUpload</servlet-name>
  	<display-name>BookImageUpload</display-name>
  	<description></description>
  	<servlet-class>servlets.BookImageUpload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SellBook</servlet-name>
  	<display-name>SellBook</display-name>
  	<description></description>
  	<servlet-class>servlets.SellBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Checkout</servlet-name>
  	<display-name>Checkout</display-name>
  	<description></description>
  	<servlet-class>servlets.Checkout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCart</servlet-name>
  	<display-name>AddToCart</display-name>
  	<description></description>
  	<servlet-class>servlets.AddToCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFromSell</servlet-name>
  	<display-name>DeleteFromSell</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteFromSell</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelForSel</servlet-name>
  	<display-name>DelForSel</display-name>
  	<description></description>
  	<servlet-class>servlets.DelForSel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResetPassword</servlet-name>
  	<display-name>ResetPassword</display-name>
  	<description></description>
  	<servlet-class>servlets.ResetPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFromCart</servlet-name>
  	<display-name>DeleteFromCart</display-name>
  	<description></description>
  	<servlet-class>servlets.DeleteFromCart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPersonalInfo</servlet-name>
  	<display-name>EditPersonalInfo</display-name>
  	<description></description>
  	<servlet-class>servlets.EditPersonalInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailSubscriber</servlet-name>
  	<display-name>EmailSubscriber</display-name>
  	<description></description>
  	<servlet-class>servlets.EmailSubscriber</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WriteReview</servlet-name>
  	<display-name>WriteReview</display-name>
  	<description></description>
  	<servlet-class>servlets.WriteReview</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentSuccess</servlet-name>
  	<display-name>PaymentSuccess</display-name>
  	<description></description>
  	<servlet-class>servlets.PaymentSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogIn</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookImageUpload</servlet-name>
  	<url-pattern>/BookImageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SellBook</servlet-name>
  	<url-pattern>/SellBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Checkout</servlet-name>
  	<url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCart</servlet-name>
  	<url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFromSell</servlet-name>
  	<url-pattern>/DeleteFromSell</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelForSel</servlet-name>
  	<url-pattern>/DelForSel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResetPassword</servlet-name>
  	<url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFromCart</servlet-name>
  	<url-pattern>/DeleteFromCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPersonalInfo</servlet-name>
  	<url-pattern>/EditPersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailSubscriber</servlet-name>
  	<url-pattern>/EmailSubscriber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WriteReview</servlet-name>
  	<url-pattern>/WriteReview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentSuccess</servlet-name>
  	<url-pattern>/PaymentSuccess</url-pattern>
  </servlet-mapping>
</web-app>
